h1 {
  padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
  color: #494949; /*文字色*/
  background: #f4f4f4; /*背景色*/
  border-left: solid 5px #7db4e6; /*左線*/
  border-bottom: solid 3px #d7d7d7; /*下線*/
}
.container {
  color: #101010;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.f-container {
  line-height: 60px;
  font-size: 20px;
}
body {
  background-image: url("/image/dog.JPG");
  background-size: 100% 350%;
}
.f-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.container {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 30px;
  background: #e0edff;
}
.container:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}
.container p {
  margin: 0;
  padding: 0;
}
